<launch>
	<node
		pkg="turtlesim"
		type="turtlesim_node"
		name="turtlesim"
		respawn="true"
	/>
	<node
		name="turtlesim_node"
		pkg="turtlesim"
		type="turtlesim_node"
		ns="name1"
	/>
	<node
		name="turtlesim_node"
		pkg="turtlesim"
		type="turtlesim_node"
		ns="name2"
	/>
	<node
		name="turtlesim_node"
		pkg="turtlesim"
		type="turtlesim_node"
		ns="name3"
	/>
	<node
		name="turtlesim_node"
		pkg="turtlesim"
		type="turtlesim_node"
		ns="name4"
	/>
	<node
		name="turtlesim_node"
		pkg="turtlesim"
		type="turtlesim_node"
		ns="name5"
	/>
	<node
		name="turtlesim_node"
		pkg="turtlesim"
		type="turtlesim_node"
		ns="name6"
	/>
	<node
		name="turtlesim_node"
		pkg="turtlesim"
		type="turtlesim_node"
		ns="name7"
	/>
	<node
		name="turtlesim_node"
		pkg="turtlesim"
		type="turtlesim_node"
		ns="name8"
	/>
	<node
		name="turtlesim_node"
		pkg="turtlesim"
		type="turtlesim_node"
		ns="name9"
	/>
	<node
		name="turtlesim_node"
		pkg="turtlesim"
		type="turtlesim_node"
		ns="name10"
	/>
	<node
		name="turtlesim_node"
		pkg="turtlesim"
		type="turtlesim_node"
		ns="name11"
	/>
	<node
		name="turtlesim_node"
		pkg="turtlesim"
		type="turtlesim_node"
		ns="name12"
	/>
	<node
		name="turtlesim_node"
		pkg="turtlesim"
		type="turtlesim_node"
		ns="name13"
	/>
	<node
		name="turtlesim_node"
		pkg="turtlesim"
		type="turtlesim_node"
		ns="name14"
	/>
</launch>
